<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="css/style.css">
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <script>
        const ROOM_iD="<%= roomId%>";
       
    </script>
</head>
<body>
    <!-- <h1>Hellooooooooooooooooooo Junior <%= roomId%></h1> -->
    <div id="video-grid">

    </div>
    <script src="js/script.js"></script>
</body>
</html>